<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="OraPKGSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="OraPKGSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://172.30.10.7/LMESPOP_WebService/OraPKG.asmx"
                binding="basicHttpBinding" bindingConfiguration="OraPKGSoap"
                contract="WebSrvLMES.OraPKGSoap" name="OraPKGSoap" />
            <endpoint address="http://172.30.10.7/LMESPOP_WebService/OraPKG.asmx"
                binding="customBinding" bindingConfiguration="OraPKGSoap12"
                contract="WebSrvLMES.OraPKGSoap" name="OraPKGSoap12" />
        </client>
    </system.serviceModel>
</configuration>